@model Model.ViewModel.HomeView
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản Lý Nghiệp Vụ Tìm Kiếm Việc Làm
<div class="row">
<!-- ============================================================== -->
<!-- sales  -->
<!-- ============================================================== -->
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
    <div class="card border-3 border-top border-top-primary">
        <div class="card-body">
            <h5 class="text-muted">SỐ LƯỢNG CV ỨNG VIÊN</h5>
            @{
                var count = 0;
                foreach (var item in Model.CV_UngVien)
                {
                        count += 1;
                }
                <div class="metric-value d-inline-block">
                                <h1 class="mb-1">@(count)</h1>
                  
                </div>

            }
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end sales  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- new customer  -->
<!-- ============================================================== -->
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
    <div class="card border-3 border-top border-top-primary">
        <div class="card-body">
            <h5 class="text-muted col">Số Ứng Viên Ứng Tuyển</h5>
            @{
                var count1 = 0;
                foreach (var item in Model.UngViens)
                {
                    count1 += 1;
                 }
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@(count1)</h1>
                        </div>
                
            }
            @*<div class="metric-label d-inline-block float-right text-success font-weight-bold">
            <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
        </div>*@
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end new customer  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- visitor  -->
<!-- ============================================================== -->
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
    <div class="card border-3 border-top border-top-primary">
        <div class="card-body">
            <h5 class="text-muted">Số Công Ty tuyển dụng</h5>
            @{
                var count2 = 0;
                foreach (var item in Model.CongTies)
                {
                    count2 += 1;
                }
                <div class="metric-value d-inline-block">
                                <h1 class="mb-1">@(count2)</h1>
         </div>
            }     
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end visitor  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- total orders  -->
<!-- ============================================================== -->
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
    <div class="card border-3 border-top border-top-primary">
        <div class="card-body">
            <h5 class="text-muted">Số tin việc làm đã được đưa lên</h5>
            @{
                var count3 = 0;
                foreach (var item in Model.TinViecLams)
                {
                    count3 += 1;
                }
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@(count3)</h1>
                </div>
            }};
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end total orders  -->
<!-- ============================================================== -->
</div>